# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  headername: 'metadata'

jobs:
- job: A
  pool: server
  steps:
  # - task: AzureFunction@1
  #   inputs:
  #     function: 'http://acrin.lightspin.cafe/metadata/instance'
  #     key: 'sss'
  #     method: 'GET'
  #     headers: |
  #       {
  #       "metadatax":"true"
  #       }
  #     waitForCompletion: 'false'
  - task: Bash@3
    inputs:
      targetType: 'inline'
      script: |
        # Write your commands here
        
        echo 'Hello world'