# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  headername: 'metadata'

jobs:
- job: A
  pool: server
  steps:
  - task: Delay@1
    inputs:
      delayForMinutes: '0'