# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  headername: 'metadata'

jobs:
- job: RunRESTAPI
  pool: server
  steps:
  - task: InvokeRESTAPI@0
    inputs:
      connectionType: 'connectedServiceName'
      serviceConnection: 'burp'
      method: 'GET'
      headers: |
        {
        "a1":"b1",
        "metadata":"true",
        "a3":"b3"
        }
      waitForCompletion: 'false'